@import "~@vtfk/components/src/ui/Tokens/tokens.scss";

.home {
  max-width: 922px;

  .page-title {
    margin-bottom: $baseUnit * 7;

    @media(max-width: 1000px) {
      margin-bottom: $baseUnit * 3;
    }

    // Wrap text on mobile, but not tablets
    @media(max-width: 550px) {
      max-width: 310px;
    }
  }

  .text, .text-field, .react-codemirror2 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .react-codemirror2 {
    &.readonly {
      cursor: not-allowed;
    }
  }

  .action-row {
    //width: 100%;

    .action-table {
      display: inline-block;
    }

    .action-info {
      //width: 75%;
      float: right;
      text-align: right;
    }
  }

  .button-row {
    margin-top: 15px;
    margin-bottom: 25px;
    flex: auto;

    .button {
      display: inline;
      margin-right: 10px;
    }
  }
}
